@model Slackoverflow.Models.ViewModels.ViewQuestionModel

<h1>You are currently viewing a question</h1>

@if(Model != null) {
    <h2>@Model.Title</h2>
    <a asp-controller="Answers" asp-action="AnswerQuestion" asp-route-id="@Model.Id">Answer this question</a>

    <ul>
        @foreach (var answer in Model.Answers) {
            <li>@answer</li>
        }
    </ul>
}